<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Course</title>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
  </head>

  <body style="text-align: center;font-family: 'Epilogue', sans-serif;">

    <h2>Delete Course</h2>

    <form action="delete" method="GET">


      <label>Course Id: </label>
      <input style="font-family: 'Epilogue', sans-serif;" type='number' name="cID"/><br><br>


      <input style="font-family: 'Epilogue', sans-serif;" type='button' value='Delete'/>
      <input style="font-family: 'Epilogue', sans-serif;" type='button' value='Reset'/><br><br>

    </form>

    <a href="index">Go back to HomePage</a>
    
  </body>

</html>