<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body style="text-align: center;font-family: 'Epilogue', sans-serif;">
  <h2>Welcome to the Home Page</h2>
  <div>
    <a style="text-decoration: none;" href="/template/addCourse.html">Add Course  <span>||</span></a>
    <a style="text-decoration: none;" href="/template/updateCourse.html">Update Course <span>||</span></a>
    <a style="text-decoration: none;"  href="/template/deleteCourse.html">Delete Course <span>||</span></a>
    <a style="text-decoration: none;" href="/template/fetchCourse.html">Fetch Course</a>
  </div>
</body>
</html>