<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Course</title>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
  </head>

  <body style="text-align: center;font-family: 'Epilogue', sans-serif;">
    <form action="update" method="GET">
      <h2>Update Course</h2>


      <label>Course Id</label>
      <input type="number" name="cID" placeholder="Course Id" required><br><br>


      <label>Course Price</label>
      <input type="number" name="amount" placeholder="Course Price"><br><br>


      <input style="font-family: 'Epilogue', sans-serif;" type='button' value='Update'>
      <input style="font-family: 'Epilogue', sans-serif;" type='button' value='Reset'> <br><br>

    </form>

    <!-- linking back to the main page -->
    <a href="index">Go back to HomePage</a>
  </body>

</html>